<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>processed form</title>
</head>
<body>

<p>Process Worked</p>
<br/>

Student name: <span th:text="${param.studentName}"></span>

</body>
</html>

<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <title>Thymeleaf Demo</title>-->
<!--</head>-->

<!--<body>-->

<!--Hello World of Spring!-->

<!--<br><br>-->

<!--Student name: <span th:text="${param.studentName}" />-->

<!--</body>-->

<!--</html>-->